[PostgreSQL]
database = DATABASENAME
user = USERNAME
password = PASSWORD
host = IP.IP.IP.IP
port = 5432 

[Server]
path = THE/DEFAULT/PATH/TO/STORE/DATA
limit = 4 (an integer representing the maxmal foldersize in GB)